apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: chat-core-statefulset
spec:
  serviceName: chat-core-statefulset
  replicas: 2
  selector:
    matchLabels:
      run: chat-core
  template:
    metadata:
      labels:
        run: chat-core
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-group-type
                operator: In
                values:
                - chat-core
      containers:
        - name: chat-core
          image: lsjpjs1/chat:18
          command: ["/bin/sh", "-c", "WAS_ID=$(echo $HOSTNAME | grep -o '[0-9]*$'); java -verbose:gc -Xms1200m -Xmx1200m -XX:+PrintGC -XX:+PrintCommandLineFlags -XX:NativeMemoryTracking=detail -Dwas.id=${WAS_ID} -jar ./chat.jar"]
          resources:
            requests:
              memory: "1000Mi"