apiVersion: apps/v1
kind: Deployment
metadata:
  name: message-classifier-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      run: message-classifier
  template:
    metadata:
      labels:
        run: message-classifier
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-group-type
                operator: In
                values:
                - message-classifier
      containers:
        - name: message-classifier
          image: lsjpjs1/message-classifier
          command: ["/bin/sh", "-c", "WAS_ID=$(echo $HOSTNAME);  echo WAS_ID is ${WAS_ID}; java -verbose:gc -Xms1200m -Xmx1200m -XX:+PrintGC -XX:+PrintCommandLineFlags -XX:NativeMemoryTracking=detail -Dwas.id=${WAS_ID} -jar ./message-classifier.jar"]
          resources:
            requests:
              memory: "1000Mi"